body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: white;
	min-width: 450px;
}

h1 {
    font-size: 1.75em;
}

td {
    width: 50%;
}

input {
	margin-bottom: 5px;
}

.control {
    width: 100%;
    padding-bottom: 20px;
}

.title {
    padding: 10px;
    padding-left: 0;
    vertical-align: top;
}

.connectInfo {
    height: 200px;
    vertical-align: text-top;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.status {
    /* vertical-align: text-top; */
    font-weight: bold; 
    margin-top: 10px;
}

.message {
    height: 200px;
    max-height: 200px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    overflow: auto;
}

.msg-time {
    color: blue;
}

.cueMsg {
    color: orange;
}

.selfMsg {
    color: green;
}

.peerMsg {
    color: red;
}

video {
    width: 90%;

}

.display-video {
    object-fit: fill;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}